Repository RIKEN-RCCS/benchkit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Path conditions:
  generate_matrix: (any of: .gitlab-ci.yml, .github/workflows/*.yml, programs/**/*, scripts/**/*, system.csv, queue.csv) or (not (any of: README.md, ADD_APP.md, result_server/templates/*.html, .kiro/**/*, .vscode/**/*))
  trigger_child_pipeline: (any of: .gitlab-ci.yml, .github/workflows/*.yml, programs/**/*, scripts/**/*, system.csv, queue.csv) or (not (any of: README.md, ADD_APP.md, result_server/templates/*.html, .kiro/**/*, .vscode/**/*))
  generate_benchpark_matrix: any of: config/benchpark-monitor/**/*, scripts/benchpark_*, BENCHPARK_MONITOR.md
  trigger_benchpark_pipeline: any of: config/benchpark-monitor/**/*, scripts/benchpark_*, BENCHPARK_MONITOR.md

Fix BenchPark setup tag for compute node
  scripts/benchpark_functions.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix CI variable inheritance for BenchPark child pipeline
  .gitlab-ci.yml
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix YAML syntax error in BenchPark send job
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Add JSON format debugging for BenchPark results
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Separate convert and send jobs for BenchPark
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix BenchPark artifact upload and job separation
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Remove unnecessary cd command in wait_for_ramble_jobs
  scripts/benchpark_functions.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix BenchPark artifact upload on rccs_cloud_login
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Restore proper job separation after Runner fix
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Add vector metrics and Spack build info to BenchPark results
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Fix node count extraction in BenchPark result conversion
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Add id_tokens to BenchPark CI jobs for GitLab Runner authentication
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Unify system name to RC_GH200 and fix confidential field
  config/benchpark-monitor/list.csv
  scripts/benchpark_functions.sh
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Add support for scalar metrics in BenchPark result conversion
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Add gpcnet support and update workspace paths
  config/benchpark-monitor/list.csv
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Reorganize BenchPark files into benchpark-bridge directory
  .gitlab-ci.yml
  benchpark-bridge/config/apps.csv
  benchpark-bridge/scripts/ci_generator.sh
  benchpark-bridge/scripts/common.sh
  benchpark-bridge/scripts/result_converter.py
  benchpark-bridge/scripts/runner.sh
Due: generate_matrix, trigger_child_pipeline

Update BenchPark documentation
  .kiro/steering/benchpark-development.md
  .kiro/steering/benchpark-generator-plan.md
  .kiro/steering/benchpark-results-format.md
  .kiro/steering/benchpark-todo.md
Due: none

Restructure API routes: consolidate ingest endpoints
  result_server/app.py
  result_server/app_dev.py
  result_server/routes/api.py
  result_server/routes/estimated.py
  result_server/routes/receive.py
  result_server/routes/results.py
  result_server/routes/upload_tgz.py
  result_server/templates/_navigation.html
  result_server/tests/test_api_routes.py
  result_server/tests/test_results_loader.py
  result_server/utils/results_loader.py
  scripts/send_results.sh
Due: generate_matrix, trigger_child_pipeline

Add vector metrics graph display and result comparison
  result_server/templates/_results_table.html
  result_server/templates/estimated_results.html
  result_server/templates/result_compare.html
  result_server/templates/result_detail.html
  result_server/tests/test_result_detail_template.py
Due: none

Add spec documents and update .gitignore
  .gitignore
  .kiro/specs/api-restructure/.config.kiro
  .kiro/specs/api-restructure/design.md
  .kiro/specs/api-restructure/requirements.md
  .kiro/specs/api-restructure/tasks.md
  .kiro/specs/vector-metrics-graph/.config.kiro
  .kiro/specs/vector-metrics-graph/design.md
  .kiro/specs/vector-metrics-graph/requirements.md
  .kiro/specs/vector-metrics-graph/tasks.md
Due: none

Fix compare page: use GET with url_for instead of hardcoded POST
  result_server/routes/results.py
  result_server/templates/_results_table.html
Due: none

Fix navigation and back links: use url_for for prefix support
  result_server/templates/_navigation.html
  result_server/templates/result_compare.html
  result_server/templates/result_detail.html
  result_server/tests/test_result_detail_template.py
Due: none

Update README.md and fix ADD_APP.md encoding
  ADD_APP.md
  README.md
Due: none

Remove allowed_emails.json from README project structure
  README.md
Due: none

Remove benchpark submodule reference from README
  README.md
Due: none

Replace Email OTP with TOTP authentication
  .gitignore
  .kiro/specs/totp-authentication/.config.kiro
  .kiro/specs/totp-authentication/design.md
  .kiro/specs/totp-authentication/requirements.md
  .kiro/specs/totp-authentication/tasks.md
  result_server/app.py
  result_server/app_dev.py
  result_server/routes/admin.py
  result_server/routes/auth.py
  result_server/routes/estimated.py
  result_server/routes/results.py
  result_server/templates/_navigation.html
  result_server/templates/_otp_modal.html
  result_server/templates/admin_users.html
  result_server/templates/auth_login.html
  result_server/templates/auth_setup.html
  result_server/templates/estimated_results.html
  result_server/templates/results_confidential.html
  result_server/tests/test_result_detail_template.py
  result_server/tests/test_totp_manager.py
  result_server/utils/otp_manager.py
  result_server/utils/otp_redis_manager.py
  result_server/utils/totp_manager.py
  result_server/utils/user_store.py
Due: none

Fix results_loader: remove otp_manager dependency
  result_server/routes/estimated.py
  result_server/routes/results.py
  result_server/utils/results_loader.py
Due: generate_matrix, trigger_child_pipeline

Fix estimated results visible to unauthenticated users
  result_server/routes/estimated.py
Due: generate_matrix, trigger_child_pipeline

Add CLI script for initial admin invitation
  result_server/create_admin.py
Due: generate_matrix, trigger_child_pipeline

Differentiate TOTP issuer name by environment
  result_server/app.py
  result_server/app_dev.py
  result_server/routes/auth.py
Due: generate_matrix, trigger_child_pipeline

Allow admin users to view all confidential results
  result_server/utils/results_loader.py
Due: generate_matrix, trigger_child_pipeline

Redesign navigation with dropdown menus
  result_server/templates/_navigation.html
  result_server/templates/estimated_results.html
  result_server/templates/results_confidential.html
Due: none

Replace hardcoded nav in admin_users.html with shared navigation
  result_server/templates/admin_users.html
Due: none

Add TOTP security hardening
  result_server/app.py
  result_server/routes/admin.py
  result_server/routes/auth.py
  result_server/templates/auth_login.html
  result_server/templates/auth_setup.html
  result_server/tests/test_totp_security.py
  result_server/utils/totp_manager.py
Due: none

Hide Delete/Reinvite buttons for own account in admin UI
  result_server/templates/admin_users.html
Due: none

Update README with TOTP auth docs and dependencies
  README.md
Due: none

Add server-side pagination and filtering for results pages
  .kiro/specs/results-pagination/.config.kiro
  .kiro/specs/results-pagination/design.md
  .kiro/specs/results-pagination/requirements.md
  .kiro/specs/results-pagination/tasks.md
  result_server/routes/estimated.py
  result_server/routes/results.py
  result_server/templates/_pagination.html
  result_server/templates/_results_table.html
  result_server/templates/estimated_results.html
  result_server/tests/test_pagination.py
  result_server/tests/test_results_loader.py
  result_server/utils/results_loader.py
Due: none

Update README with pagination feature documentation
  README.md
Due: none

Refactor result_server: code cleanup and template deduplication
  .kiro/specs/code-cleanup/.config.kiro
  .kiro/specs/code-cleanup/design.md
  .kiro/specs/code-cleanup/requirements.md
  .kiro/specs/code-cleanup/tasks.md
  result_server/app.py
  result_server/routes/admin.py
  result_server/routes/estimated.py
  result_server/routes/results.py
  result_server/templates/_filter_dropdowns.html
  result_server/templates/_results_base.html
  result_server/templates/_results_table.html
  result_server/templates/estimated_results.html
  result_server/templates/results.html
  result_server/templates/results_confidential.html
  result_server/tests/test_pagination.py
  result_server/utils/result_file.py
  result_server/utils/results_loader.py
Due: none
