Repository RIKEN-RCCS/benchkit: changes, and which GitLab CI jobs are due for each by the changed paths.
All: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Path conditions:
  generate_matrix: (any of: .gitlab-ci.yml, .github/workflows/*.yml, programs/**/*, scripts/**/*, system.csv, queue.csv) or (not (any of: README.md, ADD_APP.md, result_server/templates/*.html, .kiro/**/*, .vscode/**/*))
  trigger_child_pipeline: (any of: .gitlab-ci.yml, .github/workflows/*.yml, programs/**/*, scripts/**/*, system.csv, queue.csv) or (not (any of: README.md, ADD_APP.md, result_server/templates/*.html, .kiro/**/*, .vscode/**/*))
  generate_benchpark_matrix: any of: config/benchpark-monitor/**/*, scripts/benchpark_*, BENCHPARK_MONITOR.md
  trigger_benchpark_pipeline: any of: config/benchpark-monitor/**/*, scripts/benchpark_*, BENCHPARK_MONITOR.md

Fix BenchPark system tags and add park-only mode [park-only]
  .gitlab-ci.yml
  scripts/benchpark_functions.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

fix trivial bugs
  programs/scale-letkf/build.sh
  programs/scale-letkf/run.sh
Due: generate_matrix, trigger_child_pipeline

add a benchmark test: SCALE-LETKF
  programs/scale-letkf/.gitkeep
  programs/scale-letkf/build.sh
  programs/scale-letkf/list.csv
  programs/scale-letkf/run.sh
Due: generate_matrix, trigger_child_pipeline

update SCALE-LETKF benchmark for RC_GH200
  programs/scale-letkf/list.csv
  programs/scale-letkf/run.sh
Due: generate_matrix, trigger_child_pipeline

add FUGAKU 75-nodes benchmark: SCALE-LETKF
  programs/scale-letkf/list.csv
  programs/scale-letkf/run.sh
Due: generate_matrix, trigger_child_pipeline

Fix BenchPark target system and add debug output [park-only]
  config/benchpark-monitor/list.csv
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Add detailed debug output for CSV processing [park-only]
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix CSV reading issue with line counting debug [park-only]
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix CSV final line reading issue [park-only]
  config/benchpark-monitor/list.csv
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix YAML syntax and enable parallel execution [park-only]
  .gitlab-ci.yml
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix YAML generation script structure [park-only]
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Remove id_tokens to fix YAML syntax error [park-only]
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Clean up debug output and ensure id_tokens removal [park-only]
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Adopt BenchKit matrix_generate.sh YAML output format [park-only]
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Simplify BenchPark pipeline and optimize artifacts [park-only]
  BENCHPARK_DEVELOPMENT_RULES.md
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix QC-GH200 BenchPark installation path [park-only]
  scripts/benchpark_functions.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Add BenchPark development TODO and Singularity container notes
  BENCHPARK_TODO.md
Due: generate_matrix, trigger_child_pipeline

Add vol0002 and vol0005 to PJM_LLIO_GFSCACHE for Fugaku [system:Fugaku] [code:LQCD_dw_solver]
  queue.csv
  scripts/test_submit.sh
Due: generate_matrix, trigger_child_pipeline

Optimize scale-letkf artifacts to reduce size [code:scale-letkf]
  programs/scale-letkf/build.sh
  programs/scale-letkf/run.sh
Due: generate_matrix, trigger_child_pipeline

Update ADD_APP.md with artifacts optimization and PR testing guidelines
  ADD_APP.md
Due: none

Improve ADD_APP.md with better examples and explanations
  ADD_APP.md
Due: none

Fix LQCD_dw_solver FOM output issues
  programs/LQCD_dw_solver/run.sh
Due: generate_matrix, trigger_child_pipeline

Simplify BenchPark runner for QC-GH200 testing
  BENCHPARK_TODO.md
  scripts/benchpark_functions.sh
  scripts/benchpark_runner.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Add setup action and commit message control guidelines
  .kiro/steering/benchpark-development.md
  scripts/benchpark_runner.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix benchpark_runner.sh argument passing
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix BenchPark workspace path in result conversion script
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Document BenchPark result format compatibility issues
  BENCHPARK_TODO.md
Due: generate_matrix, trigger_child_pipeline

Skip CI/CD for all markdown file changes
  .gitlab-ci.yml
Due: generate_matrix, trigger_child_pipeline

Add ramble workspace analyze to wait action
  scripts/benchpark_runner.sh
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix metric parsing in ramble results conversion
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Support multiple experiments in BenchPark results
  BENCHPARK_TODO.md
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Fix metric extraction and document results format
  BENCHPARK_RESULTS_FORMAT.md
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Reorganize BenchPark steering files
  .kiro/steering/benchpark-development.md
  .kiro/steering/benchpark-results-format.md
  README.md
Due: none

Move BenchPark docs to steering directory
  .kiro/steering/benchpark-todo.md
  .kiro/steering/troubleshooting-systems.md
  .vscode/settings.json
  BENCHPARK_DEVELOPMENT_RULES.md
  BENCHPARK_MONITOR.md
  BENCHPARK_RESULTS_FORMAT.md
Due: generate_benchpark_matrix, trigger_benchpark_pipeline

Use existing send_results.sh for BenchPark results
  .kiro/steering/benchpark-todo.md
  scripts/benchpark_matrix_generate.sh
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix result file numbering to start from 0
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Add [park-send] mode for result sending
  .gitlab-ci.yml
  .kiro/steering/benchpark-development.md
  scripts/benchpark_matrix_generate.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline

Fix [park-send] mode and JSON format
  .gitlab-ci.yml
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

Add newline at end of JSON files
  scripts/convert_benchpark_results.py
Due: generate_matrix, trigger_child_pipeline

git commit -m "Optimize BenchPark job workflow
  scripts/benchpark_functions.sh
  scripts/benchpark_matrix_generate.sh
  scripts/benchpark_runner.sh
Due: generate_matrix, trigger_child_pipeline, generate_benchpark_matrix, trigger_benchpark_pipeline
